/* =========================
   SECTION HEADER
========================= */
.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.section__title {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: bold;
  color: var(--p-950);
  text-transform: capitalize;
}

.section__description {
  text-align: center;
  max-width: 65ch;
  color: var(--n-500);
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}

section,
header,
#contact {
  scroll-margin-top: 100px;
}